@using System.Net
@using Microsoft.AspNetCore.Http
@using Microsoft.VisualBasic
@using StudyroomBookingZealand.Services.Interfaces;
@inject IWarning WarningService
@* Fount the REAL stuff for Zealand logo
    https://moodle.zealand.dk/pluginfile.php/1/core_admin/logo/0x200/1620740136/Zealand%20Logo%20-%20Moodle.png*@

<style>

    .navbar {
        background-color: #ffe766
    }

    .nav-link {
        color: black
    }

    .card {
        border-color: transparent;
        background-color: #FFE766;
    }

    .card-image {
        height: 60px;
        width: 200px;
    }
    .footer {
        background: linear-gradient(to bottom, rgba(255, 233, 117, 0.6), rgba(255, 233, 117, 1));
        background-color: #FFE975;
        background-color: transparent;
        height: 60px !important;
        bottom: 0px !important;
    }

    .footer:hover {
        background-color: #FFE766;
    }
    .btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
        color: #FFD180;
        background-color: #343A40;
        border-color: #837171;
        color:white !important;
    }

/*.card:hover {*/
        /*box-shadow: 8px 8px 8px lightgrey;*/
        /*background-color: #FFE766;
    }*/
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudyroomBookingZealand</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/profilepage.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>
<body>
    <header>
        <!-- Navigation -->
        <div class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="https://moodle.zealand.dk/pluginfile.php/1/core_admin/logo/0x200/1620740136/Zealand%20Logo%20-%20Moodle.png" height="25" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="" role="button"><i class="fa fa-bars" aria-hidden="true" style="color:black"></i></span>
                </button>
                <nav class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav navbar-left">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Privacy">Privacy</a>
                        </li>

                    </ul>
                    @{
                        if (Pages.User.CurrentUser.Exists)
                        {
                            if (!Pages.User.CurrentUser.LoggedUser.IsTeacher)
                            {
                                <ul class="navbar-nav navbar-left">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-page="/Bookings/StartBooking">Book</a>
                                    </li>
                                </ul>
                            }
                            {
                                <ul class="navbar-nav navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" style="cursor: pointer" data-toggle="modal" data-target="#WarningModal">
                                            @if (WarningService.GetWarningsForUser(Pages.User.CurrentUser.LoggedUser.Id).Count > 0)
                                            {
                                                <i class="fa fa-bell" style="font-size: 20px">

                                                    @if (WarningService.GetWarningsForUser(Pages.User.CurrentUser.LoggedUser.Id).Count < 10)
                                                    {
                                                        <span style="position: relative; left: -4px; top: -8px; font-size: 14px">@WarningService.GetWarningsForUser(Pages.User.CurrentUser.LoggedUser.Id).Count</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="position: relative; left: -4px; top: -8px; font-size: 14px">9+</span>
                                                    }

                                                </i>
                                            }
                                            else
                                            {
                                                <i class="far fa-bell" style="font-size: 20px"></i>
                                            }
                                        </a>
                                    </li>
                                    <li class="nav-item" style="margin-right: -7px">
                                        <a asp-page="/User/Profile/ProfilePage" class="nav-link text-dark">@Pages.User.CurrentUser.LoggedUser.FirstName</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" style="cursor: pointer" asp-page="/User/Profile/ProfilePage"><i class="fas fa-user-circle" style="font-size: 20px"></i></a>
                                    </li>
                                    <li class="nav-item" style="margin-left: 20px">
                                        <a class="nav-link text-dark" style="cursor: pointer" data-toggle="modal" data-target="#LogoutModal"><i class="fas fa-sign-out-alt" style="font-size: 20px"></i></a>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav navbar-right">
                                <li class="nav-item" style="margin-left: 20px">
                                    <a class="nav-link text-dark" style="cursor: pointer" asp-page="/User/Login"><i class="fas fa-sign-in-alt" style="font-size: 20px"></i></a>
                                </li>
                            </ul>
                        }
                        <!--THIS IS FROM MOODLE-->
                        <ul class="navbar-nav navbar-right d-none d-md-flex custom-menu" id="yui_3_17_2_1_1624276067546_347" style="margin-left: 70px">
                            <!-- custom_menu -->
                            <li class="dropdown nav-item" id="yui_3_17_2_1_1624276067546_346">
                                <a class="dropdown-toggle nav-link" id="drop-down-60d07c6514d3260d07c64e37689" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" title="Language" aria-controls="drop-down-menu-60d07c6514d3260d07c64e37689">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            <img src="/images/language.png" height="25" style="background-color: white; display: inline-block"/>
                                        </font>
                                    </font>
                                </a>
                                <div class="dropdown-menu" role="menu" id="drop-down-menu-60d07c6514d3260d07c64e37689" aria-labelledby="drop-down-60d07c6514d3260d07c64e37689">
                                    <a class="dropdown-item" role="menuitem" asp-page="/Dansk/Hjemmeside" title="Dansk (da_rum)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dansk (da)</font></font></a>
                                    <a class="dropdown-item" role="menuitem" asp-page="/Index" title="English (en)"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">English (en)</font></font></a>
                                </div>
                            </li>
                            <!-- page_heading_menu -->
                        </ul>
                        <!--END OF PART FROM MOODLE-->
                    }
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="flex-column flex-grow-1 min-vh-100">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    @if (Pages.User.CurrentUser.Exists)
    {
        <div class="modal fade" id="WarningModal" tabindex="-1" role="dialog" aria-labelledby="WarningModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header row" style="background: #FFE975; margin:0px">
                        <h4 class="modal-title text-dark text-center col-11" id="WarningModalLabel">Notifications</h4>
                        <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (WarningService.GetWarningsForUser(Pages.User.CurrentUser.LoggedUser.Id).Count > 0)
                        {
                            @foreach (Models.Warning warning in WarningService.GetWarningsForUser(Pages.User.CurrentUser.LoggedUser.Id))
                            {
                                <div class="row">
                                    <p class="col-10" style="font-size:16px; margin-bottom:5px">@warning.Content</p>
                                    <p class="col-2" style="margin-bottom: 5px"><a class="btn btn-dark" asp-route-id="@warning.Id" asp-page="/Shared/WarningsHelper">Go to</a></p>
                                </div>
                                <hr style="margin-top:0px; margin-bottom:5px; border-top: 1px solid gray">
                            }
                            <a class="btn btn-danger" asp-page="/Shared/WarningsHelper" asp-page-handler="Delete">Clear all</a>
                        }
                        else
                        {
                            <span class="text">You do not have any new notifications</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="LogoutModal" tabindex="-1" role="dialog" aria-labelledby="LogoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header row" style="background: #FFE975; margin:0px">
                        <h4 class="modal-title text-dark text-center col-11" id="LogoutModalLabel">Are you sure you want to log out?</h4>
                        <button type="button" class="close col-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-4"></div>
                        <a class="btn btn-dark col-4" asp-page="/User/Logout">
                            Log out
                        </a>
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
        </div>
    }


                                    @*!!!!!!!!!!!DON"T DELETE THESE YET!!!!!!!"*@


@*Previous Footer*@
<footer class="footer sticky-footer text-muted" style="position:sticky;">
    <div class="container-fluid" style="height:60px">
        <div class="row">
            <div class="col-4" style="display:flex;justify-content:flex-start;align-items:center;">
                <h5>&copy; 2021 - StudyroomBookingZealand - <a asp-page="/Privacy">Privacy</a> </h5>
            </div>
            <div class="card-image col-4" style="background-color: transparent; display:flex;justify-content:center;align-items:center;">
                <a href="https://zealand.com/">
                    <img src="https://moodle.zealand.dk/pluginfile.php/1/core_admin/logo/0x200/1620740136/Zealand%20Logo%20-%20Moodle.png" height="25" />
                </a>
            </div>
            <div class="col-4" style="display:flex;justify-content:flex-end;align-items:center;">
                <h5><a type="button" class="btn btn-custom btn-outline-dark" asp-page="/Privacy">Contact <i class="fas fa-phone"></i></a></h5>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
