@page "Invitations"
@model StudyroomBookingZealand.Pages.User.Profile.InvitationsModel
@{
    ViewData["Title"] = "Invitations";
}
<h1>Your invitations:</h1>
<div>
    <table class="table-borderless">
           <tr>
               <td>Sender</td>
               <td>Group Members</td>
           </tr>
        @foreach (Models.Invitation i in Model.InvitationsList)
        {
            int j = 0;
            if (Model.GetUser(i.Sender).GroupId != CurrentUser.LoggedUser.GroupId)
            {
            <tr>
                <td>@Model.GetUser(i.Sender).FullName</td>
                <td>
                    @foreach (Models.User u in Model.GetStudentsFromGroup(i.Sender))
                    {
                        j++;
                        @if (j == Model.GetStudentsFromGroup(i.Sender).Count)
                        {
                            @u.FullName
                        }
                        else
                        {
                            <span class="text">@u.FullName, </span>
                        }

                    }
                </td>
                <td>
                    <form method="post">
                        <input type="submit" class="btn-success" value="Accept" asp-page-handler="Accept" asp-route-id="@i.Id"/>
                        <input type="submit" class="btn-danger" value="Decline" asp-page-handler="Decline" asp-route-id="@i.Id"/>
                    </form>
                </td>
            </tr>
            }
            else
            {
                Model.DeclineInvitation(i.Id);
            }
        }

    </table>
</div>