@page "ProfilePage"
@using StudyroomBookingZealand.Models
@model StudyroomBookingZealand.Pages.User.Profile.ProfilePageModel
@using StudyroomBookingZealand.Services.Interfaces;
@inject IBooking BookingService
@inject IRoom RoomService
@{
    ViewData["Title"] = "ProfilePage";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudyroomBookingZealand</title>

    <title>User Profile</title>
    <link rel="stylesheet" href="~/css/profilepage.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>


<div class="container bootstrap snippets ">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-social-media-user-vector-default-avatar-profile-icon-social-media-user-vector-portrait-176194876.jpg" alt="">
                    </a>
                    <h1 class="text-black-50 font-weight-bolder">@CurrentUser.LoggedUser.FullName</h1>
                    @if (CurrentUser.IsAdmin)
                    {<p class="text-black-50"><b>ADMIN</b></p>}
                    else
                    {<p class="text-black-50"><b>Student</b></p>}

                </div>

                <ul class="nav nav-pills nav-stacked">

                    <li><a asp-page="EditProfile"> <i class="fa fa-edit"></i> Edit profile</a></li>
                    @if (CurrentUser.LoggedUser.GroupId != 0)
                    {
                        <li><a asp-page="ManageGroup"> <i class="fas fa-user-friends"></i> Your Groups</a></li>
                    }
                    else
                    {
                        <li><a data-toggle="modal" data-target="#GroupModal"> <i class="fas fa-user-friends"></i> Your Groups</a></li>
                    }

                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <div class="panel-body bio-graph-info">
                    <h1>Your Information</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>First Name </span>: @CurrentUser.LoggedUser.FirstName</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Last Name </span>: @CurrentUser.LoggedUser.LastName</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Address </span>: @CurrentUser.LoggedUser.Address</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email</span>: @CurrentUser.LoggedUser.Email</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Phone </span>: @CurrentUser.LoggedUser.PhoneNr</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Username </span>: @CurrentUser.LoggedUser.Username</p>
                        </div>
                    </div>
                </div>
            </div>
            @if (BookingService.GetBookingsByUserId(CurrentUser.LoggedUser.Id).Count == 0)
            {<h2>You currently have no Bookings</h2>}
            else
            {<h2>Your bookings</h2>}
            <div>
                <div class="row">
                    @foreach (Booking booking in BookingService.GetBookingsByUserId(CurrentUser.LoggedUser.Id))
                    {
                    <div class="col-md-6">
                        @if (booking.Active == true)
                        {
                            <div class="card text-dark" style="background: #FFE975">
                                <div class="card-header">@RoomService.GetRoomById(booking.RoomId).Name</div>
                                <div class="card-body row">
                                    <div class="col-4">
                                         IMG
                                    </div>
                                    <div class="col-8">
                                            <p>From: @booking.FromDateTime</p>
                                            <p>Until: @booking.ToDateTime</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <form method="post" style="margin:0; padding:0">
                                        <input type="submit" value="Cancel" class="btn btn-danger" asp-page-handler="Cancel" asp-route-bid="@booking.BookingID" />
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card text-white" style="background: #999999">
                                <div class="card-header">@RoomService.GetRoomById(booking.RoomId).Name</div>
                                <div class="card-body row">
                                    <div class="col-4">
                                        IMG
                                    </div>
                                    <div class="col-8">
                                        <p>From: @booking.FromDateTime</p>
                                        <p>Until: @booking.ToDateTime</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-secondary">Unavailable</button>
                                </div>
                            </div>
                        }
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GroupModal" tabindex="-1" role="dialog" aria-labelledby="WarningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WarningModalLabel">You do not have any groups, want to create a new one?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-primary" asp-page="Invitations">View invitations</a>
                    </div>
                    <div class="col-6">
                        <form method="post">
                            <input type="submit" class="btn btn-primary" value="Create a new group" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>