@page
@using Microsoft.EntityFrameworkCore
@using StudyroomBookingZealand.Models
@model StudyroomBookingZealand.Pages.Admin.CreateLocationModel
@{
}
<form method="post">
    <div class="col-md-4 offset-md-4 card card-container" style="margin-bottom: 0">
        <div class="form-group">
            <label asp-for="@Model.Location.Name"> Location Name </label>
            <input asp-for="@Model.Location.Name" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Location.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Location.Address"> Address </label>
            <input asp-for="@Model.Location.Address" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Location.Address"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Location.ImageName"> ImageName </label>
            <input asp-for="@Model.Location.ImageName" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.Location.ImageName"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-outline-primary" style="background-color: black" value="Create" />
        </div>
        <div>
            <a asp-page="/Admin/ListLocations">Back</a>
        </div>
    </div>
</form>

<style>
    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
        background-image: linear-gradient(#FFE766, #FFE766);
    }
</style>

