@page
@using Microsoft.EntityFrameworkCore
@using StudyroomBookingZealand.Models
@model StudyroomBookingZealand.Pages.Admin.CreateAccountModel
@{
    //ViewData["Title"] = "CreateAccount";
}
<h1>Create Account</h1>
<form method="post">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="@Model.User.FirstName"> First Name </label>
            <input asp-for="@Model.User.FirstName" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.User.FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.LastName"> Last Name </label>
            <input asp-for="@Model.User.LastName" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.User.LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Address"> Address </label>
            <input asp-for="@Model.User.Address" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.User.Address"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Username"> Username </label>
            <input asp-for="@Model.User.Username" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.User.Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Password"> Password </label>
            <input asp-for="@Model.User.Password" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.User.Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Email"> Email </label>
            <input asp-for="@Model.User.Email" class="form-control" />
            <span class="text-danger" asp-validation-for="@Model.User.Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.PhoneNr"> Phone Number </label>
            <input asp-for="@Model.User.PhoneNr" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.ImagePath"> ImagePath </label>
            <input asp-for="@Model.User.ImagePath" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.IsTeacher"> Is this user a Teacher ? </label>
            @Html.EditorFor(model => model.User.IsTeacher)
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-outline-primary" value="Create" />
        </div>
    </div>
</form>
 
<div>
    <a asp-page="/Index">Back</a>
</div>
