@page
@using StudyroomBookingZealand.Models
@model StudyroomBookingZealand.Pages.Admin.EditRoomsModel
@{
}
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Room.RoomId" /> @*MAKE SURE YOU DONT FORGET THIS, OR ELSE THE MODEL LOSES THE ID ON THE ONPOST METHOD. TOOK ME 2 HOURS TO UNDERSTAND WHY THE UPDATE WAS NOT WORKING*@
<div class="col-md-4 offset-md-4 card card-container" style="margin-bottom: 0">
    <div class="form-group">
        <label asp-for="@Model.Room.LocationId"> Location Name </label>
        <select name="LocationId" asp-items="EditRoomsModel.Options"></select>
        <span class="text-danger" asp-validation-for="@Model.Room.LocationId"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Room.Name"> Name </label>
        <input asp-for="@Model.Room.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Room.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Room.RoomNR"> Room number </label>
        <input asp-for="@Model.Room.RoomNR" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Room.RoomNR"></span>
    </div>
    <div class="form-group">
        <select asp-for="@Model.Room.Type" asp-items="Html.GetEnumSelectList<Room.TypeList>()">
            <option value="">Choose a group</option>
        </select>
        <span class="text-danger" asp-validation-for="@Model.Room.Type"></span>
        <label asp-for="@Model.Room.Big"> Can be booked by 2 groups at once </label>
        @Html.EditorFor(model => model.Room.Big)
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-outline-primary" style="background: black" value="Save Changes" />
    </div>
    <div class="badge-pill">
        <a asp-page="/Admin/ListRooms"> Back</a>
    </div>
</div>
</form>

<style>
    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
        background-image: linear-gradient(#FFE766, #FFE766);
    }
</style>