@page
@using StudyroomBookingZealand.Pages.User
@using StudyroomBookingZealand.Services.Interfaces
@model StudyroomBookingZealand.Pages.Admin.ListBookingsModel
@{
}
@inject IGroups GroupService;
@inject IUsers UserService;


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                From Time
            </th>
            <th>
                Until
            </th>
            <th>
                Room
            </th>
            <th>
                Group Leader name
            </th>
            <th>
                SmartBoard Booked ?
            </th>
            <th>
                Active
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bookings != null)
        {
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @item.BookingID
                    </td>
                    <td>
                        @item.FromDateTime
                    </td>
                    <td>
                        @item.ToDateTime
                    </td>
                    <td>
                        @item.RoomId
                    </td>
                    <td>
                        @if (item.Student_GroupID != 0)
                        {
                        <span>@UserService.GetUserById(GroupService.GetGroupById(item.Student_GroupID).Owner).FullName</span>
                        }
                        else
                        {
                        <span>@UserService.GetUserById(item.UserId).FullName</span>
                        }
                    </td>
                    <td>
                        @item.SmartBoardBooked
                    </td>
                    <td>
                        @item.Active
                    </td>
                    <td>
                        <a asp-page="/Bookings/EditBooking" asp-route-id="@item.BookingID">Edit</a> 
                        <a asp-page="/Bookings/DeleteBooking" asp-route-id="@item.BookingID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
