@page
@using StudyroomBookingZealand.Services.Interfaces
@using StudyroomBookingZealand.Pages.User
@model StudyroomBookingZealand.Pages.Admin.ListLocationsModel
@{
}

@inject ILocations LocationsService


<div class="col-sm">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" placeholder="Location Name" class="form-control " asp-for="@Model.SearchCriteria">
            <button type="submit" class="btn btn-primary mb-2" style="background: black">Search</button>
            <a type="button" class="btn btn-primary mb-2" style="background: black" asp-page="/Admin/CreateLocation">Create +</a>
        </div>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Location Name
        </th>
        <th>
            Address
        </th>
        <th>
            No of Rooms
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Locations != null)
    {
        @foreach (var item in Model.Locations)
        {
            <tr>
                <td>
                    @item.LocationId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>

                <td>
                    @LocationsService.GetRoomsForLocation(item.LocationId).Count
                </td>

                <td>
                    <a asp-page="/Admin/EditLocations" asp-route-id="@item.LocationId">Edit</a> |
                    <a asp-page="/Locations/DeleteLocation" asp-route-id="@item.LocationId">Delete</a>
                </td>

            </tr>
        }
    }

    </tbody>
</table>
<div>
    <a class="btn btn-primary" style="background: black" asp-page="/Admin/Admin">Back</a>
</div>