@page
@using StudyroomBookingZealand.Services.Interfaces
@using StudyroomBookingZealand.Pages.User
@model StudyroomBookingZealand.Pages.Admin.ListRoomsModel
@{
}
@inject ILocations LocationService;
@inject IBooking BookingService;

<div class="col-sm">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" placeholder="Room Name" class="form-control " asp-for="@Model.SearchCriteria">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
        <button type="button" class="btn btn-primary mb-2" asp-page="/Admin/CreateRoom">Create +</button>
    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Room Name
            </th>
            <th>
                Location Name
            </th>
            <th>
                Has SmartBoard?
            </th>
            <th>
                Type
            </th>
            <th>Nr. of Bookings</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Rooms != null)
        {
            @foreach (var item in Model.Rooms)
            {
                <tr>
                    <td>
                        @item.RoomId
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @*Returns a location based of the RoomID*@
                        @LocationService.GetLocation(item.LocationId).Name
                    </td>
                    <td>
                        @(item.SmartBoard ? "Yes" : "No")
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @BookingService.BookingByRoomId(@item.RoomId).Count
                    </td>
                    <td>
                        <a asp-page="/Admin/EditRooms" asp-route-id="@item.RoomId">Edit</a> |
                        <a asp-page="/Locations/Rooms/DeleteRoom" asp-route-id="@item.RoomId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>