@page
@using StudyroomBookingZealand.Pages.User
@using StudyroomBookingZealand.Services.Interfaces
@model StudyroomBookingZealand.Pages.Admin.ListBookingsModel
@{
}
@inject IGroups GroupService;


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                From Time
            </th>
            <th>
                Until
            </th>
            <th>
                Room
            </th>
            <th>
                Group Leader name (cant make it work) 
            </th>
            <th>
                SmartBoard Booked ?
            </th>
            <th>
                SmartBoard Booked ?
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Bookings != null)
        {
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    <td>
                        @item.BookingID
                    </td>
                    <td>
                        @item.FromDateTime
                    </td>
                    <td>
                        @item.ToDateTime
                    </td>
                    <td>
                        @item.RoomId
                    </td>
                    <td>
                        @item.Student_GroupID
                    </td>
                    <td>
                        @item.SmartBoardBooked
                    </td>
                    <td>
                        @item.SmartBoardBooked
                    </td>
                    <td>
                        <a asp-page="/Bookings/EditBooking" asp-route-id="@item.BookingID">Edit</a> |
                        <a asp-page="/Bookings/DeleteBooking" asp-route-id="@item.BookingID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
