@page
@using StudyroomBookingZealand.Pages.User
@model StudyroomBookingZealand.Pages.Locations.ListLocationsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Location Name
            </th>
            <th>
                Address
            </th>
            <th>
                SmartBoards Number
            </th>
            <th>
                No of Rooms
            </th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Locations != null)
    {
        @foreach (var item in Model.Locations)
        {
            <tr>
                <td>
                    @item.LocationId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.SmartBoardsNr
                </td>
                @{
                    if (item.Rooms == null)
                    {
                        <td>
                            0
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.Rooms.Count
                        </td>
                    }
                }
                <td>
                    @* Just some placeholders for future functionality *@
                    <a asp-page="/Locations/Rooms/ListRooms" asp-route-id="@item.LocationId">Rooms</a>
                </td>
                @if (CurrentUser.LoggedUser != null)
                {
                    <td>
                        |<a asp-page="" asp-route-id="">Edit</a>|
                        <a asp-page="" asp-route-id="">Delete</a>
                    </td>
                }
            </tr>
        }
    }
   
    </tbody>
</table>
