@page
@using StudyroomBookingZealand.Pages.User
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using StudyroomBookingZealand.Services.Interfaces
@model StudyroomBookingZealand.Pages.Locations.ListLocationsModel
@{
}
@inject ILocations LocationsService

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Location Name
            </th>
            <th>
                Address
            </th>
            <th>
                SmartBoards Number
            </th>
            <th>
                No of Rooms
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Locations != null)
        {
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td>
                        @item.LocationId
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.SmartBoardsNr
                    </td>
                    @{
                        if (item.Rooms == null)
                        {
                            <td>
                                0
                            </td>
                        }
                        else
                        {
                            <td>
                                @LocationsService.GetRoomsForLocation(item.LocationId).Count
                            </td>
                        }
                    }

                    @{if (CurrentUser.LoggedUser != null && CurrentUser.LoggedUser.IsTeacher == true)
                        {
                            <td>
                                <a asp-page="/Locations/Rooms/ListRooms" asp-route-id="@item.LocationId">Rooms</a>|
                                <a asp-page="" asp-route-id="">Edit</a>|
                                <a asp-page="/Locations/DeleteLocation" asp-route-id="@item.LocationId">Delete</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-page="/Locations/Rooms/ListRooms" asp-route-id="@item.LocationId">Rooms</a>
                            </td>
                        }
                    }
                </tr>
            }
        }

    </tbody>
</table>
