@page
@using StudyroomBookingZealand.Pages.User
@using StudyroomBookingZealand.Models
@using StudyroomBookingZealand.Services.Interfaces;
@model StudyroomBookingZealand.Pages.Bookings.BookRoomModel
@{
}
@inject ILocations LocationsService
<div>Choose a room from @LocationsService.GetLocation(BookRoomModel.Location).Name</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Rooms != null)
        {
            @foreach (Room r in Model.Rooms)
            {
                <tr>
                    <td>Image</td>
                    <td>@r.Name</td>
                    <td>@r.Type</td>
                    <td>@r.Adress</td>
                    <td>
                        <a asp-page="SelectTime" class="btn btn-primary" asp-route-id="@r.RoomId">Select</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>





