@page
@model StudyroomBookingZealand.Pages.Bookings.SelectTimeModel
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using StudyroomBookingZealand.Services.Interfaces
@using StudyroomBookingZealand.Models
@inject IRoom RoomService
@{
    Room room = RoomService.GetRoomById(SelectTimeModel.SelectedRoom);
}
<div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                @room.Name
            </div>
            <div class="row">
                @room.Type
            </div>
            <div class="row">
                @room.Adress
            </div>
        </div>
        <div class="col-6">
            @if (Model.Stage == 0)// calendar and day picker
            {
                <form method="post">
                    <div>
                        Pick the day you want to reserve
                    </div>
                    <input type="date" value="@DateTime.Now" min="@DateTime.Now" max="@DateTime.Now.AddMonths(1)" asp-for="FromDate">
                    <input type="submit" class="btn btn-primary" value="Continue" asp-page-handler="Day" />
                </form>
            }
            else //time of day picker
            {
                <table class="table-borderless">
                    @{
                        int time = 8;
                        int time2 = 10;
                        while (time < 16)
                        {
                            var datetime = new DateTime(Model.FromDate.Year, Model.FromDate.Month, Model.FromDate.Day);
                            datetime = datetime.AddHours(time);
                            <tr>
                                <td>
                                    @time - @time2
                                </td>
                                <td>
                                    @if (RoomService.CheckAvailability(room.RoomId, datetime) == 0 || !Model.ValidTime(datetime))
                                    {
                                        <button class="btn btn-outline-danger">Unavailable</button>
                                    }
                                    else if (RoomService.CheckAvailability(room.RoomId, datetime) == 1)
                                    {
                                        if (!SelectTimeModel.LimitReached && Pages.User.CurrentUser.LoggedUser.GroupId != 0)
                                        {
                                            <form method="post">
                                                <input type="submit" value="Reserve shared room" class="btn btn-primary" asp-page-handler="Book" asp-route-id="@room.RoomId" asp-route-datetime="@datetime" />
                                            </form>
                                        }
                                        else
                                        {
                                            <div>
                                                <button class="btn btn-secondary">Reserve shared room</button>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (!SelectTimeModel.LimitReached && Pages.User.CurrentUser.LoggedUser.GroupId != 0)
                                        {
                                            <form method="post">
                                                <input type="submit" value="Reserve" class="btn btn-primary" asp-page-handler="Book" asp-route-id="@room.RoomId" asp-route-datetime="@datetime" />
                                            </form>
                                        }
                                        else
                                        {
                                            <div>
                                                <button class="btn btn-secondary">Reserve</button>
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                            time = time + 2;
                            time2 = time2 + 2;
                        }
                    }
                </table>
                @if (SelectTimeModel.LimitReached)
                {
                    <div>
                        <span class="text-danger">You have reached the maximum bookings limit</span>
                    </div>
                }
                @if (Pages.User.CurrentUser.LoggedUser.GroupId == 0)
                {
                    <div>
                        <span class="text-danger">You need to have a group to be able to book rooms</span>
                    </div>
                }
                <div>
                    <form method="post">
                        <input class="btn btn-outline-primary" type="submit" value="Back to day selector" asp-page-handler="Back" />
                    </form>
                </div>
            }
        </div>
    </div>
    <div>
        <a asp-page="BookRoom" class="btn btn-outline-primary" asp-route-id="@RoomService.GetRoomById(SelectTimeModel.SelectedRoom).LocationId">Back to rooms</a>
    </div>
</div>